* { font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; font-size: 16px; color: #fff; --accent-color:#2196f3; }
html,body { background:#181818; margin:0; display:flex; flex-flow:column; height:100%; overflow:hidden; }
#header { display:flex; gap:10px; align-items:center; padding:0 20px; box-shadow:0 0 10px #000; z-index:1; }
#contentArea { display:flex; flex:1; overflow:hidden; }
#membershipsButton { background: var(--accent-color); }

#settingsPanel { width:600px; overflow-y:auto; height:100%; padding:0 20px; box-shadow:0 0 10px #000; }
#settingsPanel::-webkit-scrollbar{width:8px} 
#settingsPanel::-webkit-scrollbar-track{background:#2c2c2c}
#settingsPanel::-webkit-scrollbar-thumb{background:#9f9f9f; border-radius:4px}
#settingsPanel::-webkit-scrollbar-thumb:hover{background:#d1d1d1}

#widget-preview-wrapper { flex:1; overflow:hidden; position:relative; }
#widgetPreview { border:0; width:100%; height:100%; }

#unmute-label { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); pointer-events:none; font-size:3em; font-weight:500; color:#fff; background:#ffffff4d; padding:.25em .5em; border-radius:.25em; display:none; }

#widgetUrlInputWrapper { position:relative; display:inline-block; width:100%; flex-grow:1; }
#widgetUrlInputWrapper:hover #urlLabel { opacity:0; }
#widgetUrlInput { font-size:1em; width:100%; padding:10px; filter: blur(4px) brightness(0.4); transition: filter .1s; cursor:pointer; }
#widgetUrlInput:hover { filter:none; outline:none; }
#urlLabel, #copiedToClipboard { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); color:#fff; pointer-events:none; opacity:1; transition: opacity .2s; }
#urlLabel { border-radius:.5em; padding:5px 20px; font-weight:500; }

.setting-group { margin-bottom:20px; padding-bottom:15px; border-radius:5px; }
.setting-group:last-child { padding-bottom:0; }
h2 { font-size:.9em; font-weight:500; color:#93cdfd; }
.setting-item { display:flex; justify-content:space-between; align-items:center; padding:10px 0; }
.setting-item:last-child { padding-bottom:0; }
.setting-item label { font-weight:500; margin-bottom:5px; display:block; }
.setting-item p, .setting-item a { font-size:.9em; font-weight:300; opacity:.6; margin:0; }
a { font-weight:500 !important; }
.setting-item-content { display:flex; align-items:center; }

input[type="text"], input[type="password"], select, input[type="number"]{
  width:250px; background:#ffffff08; border:0; color:#fff; border-radius:.5em; padding:10px; margin:10px 0;
}
.setting-item-content option { color:#000; }
textarea:focus, input:focus { outline:none; }

.setting-item-content input[type="color"] {
  width:40px; height:40px; margin-left:10px; appearance:none; background:none; border:0; cursor:pointer; padding:0;
}

.switch{ position:relative; display:inline-block; width:60px; height:34px; }
.switch input{ opacity:0; width:0; height:0; }
.slider{ position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background:#ccc; transition:.4s; }
.slider:before{ position:absolute; content:""; height:26px; width:26px; left:4px; bottom:4px; background:#fff; transition:.4s; }
input:checked + .slider{ background:var(--accent-color); }
input:focus + .slider{ box-shadow:0 0 1px var(--accent-color); }
input:checked + .slider:before{ transform:translateX(26px); }
.slider.round{ border-radius:34px; }
.slider.round:before{ border-radius:50%; }

button{ font-weight:500; background:#2e2e2e; color:#fff; opacity:.8; margin:5px 0; border:0; border-radius:.5em; padding:10px 20px; width:100%; transition:.2s; }
button:hover{ opacity:1; cursor:pointer; }

#loadSettingsWrapper, #loadDefaultsWrapper{
  visibility:hidden; position:absolute; inset:0; background:#181818af; backdrop-filter: blur(20px) grayscale(50%) brightness(200%); z-index:9999; transition:.2s; opacity:0;
}
#loadSettingsContainer, #loadDefaultsContainer{
  position:absolute; left:50%; top:50%; max-width:1000px; width:calc(100% - 75px); border-radius:1em; border:1px solid #ffffff3d; padding:1em; box-shadow:5px 5px 10px #0008;
  background:#181818af; backdrop-filter: blur(10px); transform:translate(-50%,-50%);
}
